<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ixirus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ixirus_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ixirus_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>

                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ixirus_logo_big" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name=".ui.Disc.DiscDetailActivity"></activity>
        <activity android:name=".ui.Disc.DiscMainActivity" />
        <activity android:name=".ui.Disc.DiscQuestionsActivity" />
        <activity android:name=".ui.DevPlan.NotificationsActivity">
            <intent-filter>
                <action android:name="com.example.NOTIFICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity android:name=".ui.DevPlan.MessagesActivity" />
        <activity android:name=".ui.DevPlan.FeedbackListActivity" />
        <activity android:name=".ui.DevPlan.CreateFeedbackActivity" />
        <activity android:name=".ui.DevPlan.DevPlanPreviewActivity" />
        <activity android:name=".ui.DevPlan.CreateDevPlanQuestionsSummary" />
        <activity
            android:name=".ui.DevPlan.WaitingCompletedActionsActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.DevSource.DevSourceListActivity"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan" />
        <activity android:name=".ui.DevPlan.CreateDevPlanActivity8" />
        <activity android:name=".ui.DevPlan.CreateDevPlanActivity7" />
        <activity
            android:name=".ui.DevPlan.CreateDevPlanActivity6"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.SignUpActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".ui.BaseScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.DevPlan.CreateDevPlanActivity5" />
        <activity
            android:name=".ui.DevPlan.CreateDevPlanActivity4"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.DevPlan.CreateDevPlanActivity3"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".ui.DevPlan.CreateDevPlanActivity2"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity android:name=".ui.DevPlan.MyDevPlanListActivity" />
        <activity
            android:name=".ui.DevPlan.CreateDevPlanActivity1"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity android:name=".ui.MainActivityWithoutFragment" />
        <activity
            android:name=".ui.LoginActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>