<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ixirus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.DevPlan.CreateDevPlanActivity8"></activity>
        <activity android:name=".ui.DevPlan.CreateDevPlanActivity7" />
        <activity
            android:name=".ui.DevPlan.CreateDevPlanActivity6"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".ui.SignUpActivity" />
        <activity
            android:name=".ui.BaseScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.DevPlan.CreateDevPlanActivity5" />
        <activity
            android:name=".ui.DevPlan.CreateDevPlanActivity4"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.DevPlan.CreateDevPlanActivity3"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.DevPlan.CreateDevPlanActivity2"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".ui.DevPlan.MyDevPlanListActivity" />
        <activity
            android:name=".ui.DevPlan.CreateDevPlanActivity1"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".ui.MainActivityWithoutFragment" />
        <activity
            android:name=".ui.LoginActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>